@model Books.Core.Entities.Book

<div class="container">
    <div class="row">
        <div class="col-lg-3" style="width: 18rem;">
            <img class="card-img-top" src="\@Html.DisplayFor(modelItem => Model.IconPath)" />
        </div>
        <div class="col-lg-9">
            <h3>@Html.DisplayFor(modelItem => Model.Title)</h3>
            <br />
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li><span>Authors: </span>@Html.DisplayFor(modelItem => Model.Authors)</li>
                        <li><span>Publisher: </span>@Html.DisplayFor(modelItem => Model.Publishers.Name)</li>
                        <li><span>Genre: </span>@Html.DisplayFor(modelItem => Model.Genres)</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li><span>Publish date: </span>@Html.DisplayFor(modelItem => Model.PublishDate)</li>
                        <li><span>Pages: </span>@Html.DisplayFor(modelItem => Model.PageCount)</li>
                        <li><span>Rating: </span>@Html.DisplayFor(modelItem => Model.Rating)</li>
                    </ul>
                </div>
                <p>@Html.DisplayFor(modelItem => Model.Description)</p>
            </div>
            <div class="btn btn-success">
                <a asp-action="Bookmarked" asp-route-id="@Model.Id" style="text-decoration:none;color: white">Bookmark</a>
            </div>
        </div>
    </div>
</div>

