@model IEnumerable<Books.Core.Entities.Book>
@if (Model != null)
{
    <div class="container">
        <div class="row m-3">
            @foreach (var item in Model)
            {
                <div class="col-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src=@Html.DisplayFor(modelItem => item.IconPath) alt="Card image cap">
                        <div class="card-body">
                            <h5><a asp-controller="Books" asp-action="Details" asp-route-id="@item.Id" style="text-decoration:none">@item.Title</a></h5>
                            <a asp-action="Remove" asp-route-id="@item.Id" class="btn btn-danger">Remove from bookmark</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

@*	<div class="mt-3">
		<div class="container ">
			<div class="row">
				<div class="col-lg-12 col-md-8 col-sm-8">
					<div class="section-title">
						<h4>Continue reading</h4>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4">
				</div>
			</div>
			<div class="row">
				@foreach (var item in Model)
				{
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="product__item">
							<div class="product__item__pic set-bg">
								<img src="@item.IconPath" style="width:230px;height:325px" />
							</div>
							<div class="product__item__text">
								<ul>
									<li><a asp-action="Remove" asp-route-id="@item.Id">Remove from bookmark</a></li>
								</ul>
								<h5 style="color:white">@item.Title</h5>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
*@
}
